@model PlanSheetViewModel
<div class="d-flex justify-content-center">
    <div class="card shadow border-0 mt-4 col-6 text-center">
        <div class="card-header bg-info ml-0 py-3">
            <div class="row">
                <div class="text-center">
                    <h2 class="text-white py-2">Plan the Sheet</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <form method="post">
                <div class="row text-start">
                    <div class="form-floating py-2 col-6">
                        <input asp-for="ExamCode" class="form-control border-0 shadow" />
                        <label asp-for="ExamCode" class="ms-2"></label>
                        <span asp-validation-for="ExamCode" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-6">
                        <input asp-for="Room" class="form-control border-0 shadow" />
                        <label asp-for="Room" class="ms-2"></label>
                        <span asp-validation-for="Room" class="text-danger"></span>
                    </div>
                </div>
                <div class="row text-start">
                    <div class="form-floating py-2 col-6">
                        <input asp-for="StartDate" class="form-control border-0 shadow" />
                        <label asp-for="StartDate" class="ms-2"></label>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-6">
                        <input asp-for="EndDate" class="form-control border-0 shadow" />
                        <label asp-for="EndDate" class="ms-2"></label>
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Generate PDF</button>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
